.landing-page {
  margin-top: 30px;
}

.landing-info h1,
h2 {
    font-family: "Oswald", sans-serif;
  margin: 0px;
}

.landing-info h1 {

  font-size: 30px;
}
.landing-info h2 {
  font-size: 17px;
  margin-bottom: 10px;
}

.landing-info ul {
  margin-left: 20px;
  margin-bottom: 30px;
  list-style-type: initial;
}
.landing-login {
}

.register-link {
    display: block;
    text-align: center;
}
.globe-img {
  height: auto;
  width: 400px;
}
