.registration-page {
    margin-top: 20px;
}


.registration-page h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.laptop-img {
    display: block;
    width: 400px;
    height: auto;
    margin: 0px auto;
  }
  