.locations {
  margin-bottom: 20px;
}

.locations h1 {
  font-size: 25px;
}

.single-location {
  border-radius: 10px;
  margin-bottom: 10px;
}

.gradient {
  background: #fff;
  background: linear-gradient(to left, #f5f5f5, #e1e1e1);
}
.gradient:nth-child(4n + 1) {
  background: #8effff;
  background: linear-gradient(to right, #8effff, #B7FFFF);
}

.gradient:nth-child(4n + 3) {
  background: #ffc1c1;
  background: linear-gradient(to left, #FFE9E9, #ffc1c1);
}

.location-loader {
  margin-top: 20px;
  text-align: center;
}

.empty-locations {
  list-style-type: none;
}
