.locations {
    margin-bottom: 20px;
}

.single-location {

    margin-bottom: 10px;
    background: #fff;
    background: linear-gradient(to left, #F5F5F5, #E1E1E1);
}

.single-location:nth-child(odd) {
    background: #D2FFFF;
    background: linear-gradient(to bottom right, #00E1E1, #F5E7F5);
}

.single-location:nth-child(3n+0) {

    background: #F5E7F5;
    background: linear-gradient(to bottom left, #D2FFFF, #FFBEFF);
    
}

.empty-locations {
    list-style-type: none;
}