.new-location-page {
  margin-top: 30px;
}

.new-location-page h2 {
  font-family: "Oswald", sans-serif;
}

.new-location-info {
  margin-top: 70px;
}

.compass-img {
  display: block;
  margin: 0px auto;
}
