.edit-metric {
  margin-bottom: 30px;
  margin-top: 30px;
}

.edit-metric > ul {
  list-style-type: circle;
  padding-left: 15px;
}

.edit-metric button {
  background-color: #7bebeb;
  border: none;
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
}

.edit-metric button:hover {
  background-color: #8fffff;
}

.edit-metric button > span {
  margin-right: 5px;
}

.emphasis {
  font-weight: bold;
}
