.login-form button {
  border: none;
  background: #d75c5c;
  background: linear-gradient(#d75c5c, #ff8e8e);
  border-radius: 4px;
  display: block;
  margin: 20px 0px;
  padding: 10px 5px;
  text-align: center;
  width: 200px;
}
