.individual-day {
  color:#525252;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  text-align:left;
}

.extended-time {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  /* text-align: center; */
}

.extended-time, .extended-temp-highlow {
  color: #343434
}

.extended-heading {
    font-weight: 500;
}

.extended-temp-highlow {
  display: block;
}

.individual-day img {
  display: block;
}

.extended-pop,
.extended-conditions,
.extended-wind,
.extended-precipitation,
.extended-humidity {
  display: block;
}

@media (max-width: 576px) {
  .individual-day {
    padding: 5px;
    padding-left: 10px;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .extended-time {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .extended-temp-highlow {
    font-size: 17px;
  }
  .extended-conditions {
    margin-top: 5px;
  }
}
