.alerts {
    margin-bottom: 30px;
}


.alerts li {
    background-color: #FFFF6E;
    padding: 15px 10px;
    margin-bottom: 10px;
}

.alert-description {
    font-weight: bold;
    font-size: 17px;
}