.hourly {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.hourly-time {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.hourly-temp {
  font-size: 20px;
}

.hourly-temp-degrees {
  font-size: 15px;
  vertical-align: top;
}

.feels-like {
  font-size: 15px;
  font-style: italic;
}

.feels-like-degrees {
  font-style: italic;
  font-size: 10px;
  vertical-align: top;
}

.hourly-condition p {
  margin: 0px;
}

@media (max-width: 576px) {
  .hourly {
    padding: 0px;
    font-size: 12px;
  }
  .feels-like {
    font-size: 12px;
    padding: 0px;
  }
  .feels-like-degrees {
    font-size: 8px;
    vertical-align: initial;
  }
}
